#app{
    display: flex;
    align-items: center;
    justify-content: center;
}
#example {
    width: 768px;
    background: #4c4c4c;
}
.headerSection {
    width: 768px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerSection{
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.table {
    width: 100%;
}
.table thead th, .table tfoot th {
    text-transform: capitalize;
    position: relative;
}
.table tbody , .table tfoot {
    border-top: 5px solid #3b5998;
}
.ASC:after, .DESC:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.ASC:after {
    background: url("assets/sort_asc.png") no-repeat;
    background-size: cover;
}
.DESC:after {
    background: url("assets/sort_desc.png") no-repeat;
    background-size: cover;
}

.pagination__links {
    box-sizing: border-box;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff !important;
}
.column__headings {
    cursor: pointer;
}
.divSelect,.divPagination {
    padding: 25px;
}
.divSelect {
    float: left;
}
.divPagination {
    float: right;
}
.activePage {
    background: black;
}
/*#pagination__linkPrev, #pagination__linkNext{*/
/*    box-sizing: border-box;*/
/*    padding: .5em 1em;*/
/*    margin-left: 2px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*    border: 1px solid #ffffff;*/
/*    border-radius: 2px;*/
/*    color: #ffffff !important;*/
/*}*/